{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">

      <h1>Home Page</h1>
      <hr>
      <a class="btn btn-primary" href="/bubbleSort" role="bubble sort">bubbleSort</a>
      <a class="btn btn-primary" href="/mergeSort" role="merge sort">mergeSort</a>
      <a class="btn btn-primary" href="/linearsearch" role="linear search">linear search</a>
      <a class="btn btn-primary" href="/binarysearch" role="binary search">binary search</a>
    </div>
  </div>
</div>
{% endblock %}
