{% extends "base.html" %}
{% block head %}
Merge Sort
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">

      <h1>Sign up</h1>
      <hr>
      <form action="/mergeSort" method="POST">
        <div class="form-group">
          <label>List</label>
          <input type="text" class="form-control" id="list" name="list" placeholder="1,2,3,4,5,6">
        </div>

      <button type="submit" class="btn btn-primary">Sort</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
